* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* padding: 100px; */
  width: 100%;
  min-height: 100vh;

  background: linear-gradient(var(--secondary-color), var(--main-color));
}
header {
  top: 0;
}
.icon-container {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: aqua; */
  min-height: calc(100vh - 80px);
  padding: 60px;
}
@media (max-width: 768px) {
  .icon-container {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 40px 0;
  }
}
.box {
  display: block;
  width: 120px;
  height: 120px;
  padding: 15px;
  border-radius: 20px;
  /* border-radius: 20px; */
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;

  box-shadow: 0 6px 20px #00000040;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  background: #ffffff0d;
  transition: 0.3s;
}
.inactive {
  position: relative;
}
.inactive::before {
  content: "not active";
  min-width: 20px;
  width: 80px;
  height: 20px;
  border-radius: 20px;
  background-color: red;
  position: absolute;
  top: -10px;
  left: 50%;
  z-index: 999;
  padding: 2px 6px;
  color: white;
  transform: translateX(-50%);
  text-align: center;

  /* display: none; */
}
.box:hover {
  transform: scale(1.1);
}
.box .image {
  width: 100%;
  height: 80%;
  /* background-color: brown; */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.box .image img {
  max-width: 100%;
  width: 50%;
  border-radius: 10px;
}
.box .title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;

  text-align: center;
  color: white;
}
