/* for logo   */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
/* for all   */
@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Caveat:wght@400..700&display=swap");
/* Start Variables */
:root {
  --main-color: #12984a;
  --secondary-color: #0cce20;
  --dark-main-color: #053b1c;
  --section-background: #f6f6f6;
  --section-padding: 30px;
  --main-duration: 0.3s;
}
/* End Variables */

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  /* height: 2000px; */
  font-family: "Alan Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end Global Rules */
/* Start components */
.heading {
  height: 150px;
  padding: var(--section-padding);
  margin-bottom: var(--section-padding);
  color: var(--section-background);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.heading h3 {
  font-size: 50px;
  text-transform: capitalize;
}
.heading p {
}
/*End components */
/* start header */
header {
  /* background-color: #2c4755; */
  height: 80px;
}

header .container {
  width: 100%;
  height: 100%;
  background-color: var(--section-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header a.logo {
  text-transform: uppercase;
  /* background-color: aqua; */
  width: 30%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Caveat", cursive;
  text-decoration: none;
  font-size: 30px;
  font-weight: 900;
  color: var(--main-color);
  /* white-space: nowrap; */
}
@media (max-width: 768px) {
  header a {
    font-size: 20px;
  }
}
header .container i {
  display: none;
  cursor: pointer;
}

header .container nav.mobile-nav {
  width: 250px;
  height: 0px;
  overflow: hidden;
  position: absolute;
  top: 80px;
  right: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  border-radius: 20px;
  transition: var(--main-duration);
  box-shadow: 0 6px 20px #00000040;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  background: #ffffff0d;
  z-index: 9999;
}
.show {
  height: 400px !important;
}
@media (max-width: 768px) {
  header .container nav.mobile-nav {
  }
}
header .container nav.mobile-nav a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--dark-main-color);
  color: var(--dark-main-color);
  position: relative;
}
header .container nav.mobile-nav a:last-child {
  border: none;
}
header .container nav.mobile-nav a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #dae0dc;
  transition: var(--main-duration);
  z-index: -1;
}
header .container nav.mobile-nav a:hover::before {
  width: 100%;
}

header .container nav.main-nav {
  /* flex: 1; */
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgb(104, 104, 93); */
}
@media (max-width: 991px) {
  header a.logo {
    margin-left: 5px;
  }
  header .container i {
    display: block;
    margin-right: 50px;
    font-size: 20px;
    color: var(--dark-main-color);
    margin: 0;
  }
  header .container nav.main-nav {
    display: none;
  }
}
header nav a {
  color: var(--main-color);
  text-decoration: none;
  font-size: 20px;
}
/* end header */
/* start main */
main .container {
  width: 100%;
  height: calc(100dvh - 80px);
  background-color: var(--section-background);
  display: flex;
  /* background-color: aquamarine; */
}

main .container .left {
  width: 60%;
  height: 100%;
  /* background-color: var(--section-background); */
  display: flex;
  justify-content: center;
  align-items: center;
}
main .container .left .content {
  /* background-color: cadetblue; */
  width: 80%;
  z-index: 1;
}
main .container .left .content h1 {
  margin-bottom: 20px;
  line-height: 1;
  font-size: 50px;
  color: var(--main-color);
}
main .container .left .content p {
  width: 60%;
  color: #888888;
}
main .container .right {
  width: 25%;
  height: 100%;
  background-color: #6e2828;
  background-color: var(--main-color);
  background: linear-gradient(var(--secondary-color), var(--main-color));
  border-radius: 50px 50px 0 0;
  display: flex;
  justify-content: center;
  position: relative;
}
main .container .right .content {
  background-color: var(--section-background);
  width: 80%;
  height: 300px;
  height: 50%;
  border-radius: 50px;
  position: sticky;
  top: 15%;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
main .container .right .content img {
  height: 100%;
  filter: grayscale(90%);
}
@media (max-width: 991px) {
  main .container .right {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
  main .container .right .content {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 787px) {
  main .container .right {
    width: 100px;
    height: 25%;
    top: 300px;
  }
  main .container .right .content {
  }
}
/* end main */
/* start skills section */
section.skills {
  width: 100%;
  min-height: 101dvh;
  background-color: var(--dark-main-color);
  background: linear-gradient(var(--main-color), var(--dark-main-color));
}
section.skills .container {
  padding-bottom: 50px;
}
section.skills .container ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
}
section.skills .container ul li {
  display: block;
  width: 150px;
  /* background-color: #10cab7; */
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Small */
@media (max-width: 768px) {
  section.skills .container ul li {
    width: 100px;
  }
}
section.skills .container ul li img {
  width: 70px;
  transition: var(--main-duration);
}
section.skills .container ul li img {
  cursor: pointer;
  transition: var(--main-duration) ease-in-out;
}

.active-icon {
  transform: translateY(-5px) scale(1.5);
}

section.skills .container ul li img:hover {
  /* transform: translateY(-5px) scale(1.5); */
}
section.skills .container .tool-info {
  /* background-color: var(--section-background); */
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.188);
  box-shadow: 0 6px 20px #00000040;
  border: 1px solid white;
  color: white;
  width: 0%;
  min-height: 200px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 200px;
  transform: scale(0);
  transition: var(--main-duration);
}
.show-skill {
  width: 100% !important;
  transform: scale(1) !important;
  border-radius: 20px !important;
}
section.skills .container .tool-info h2 {
  text-transform: uppercase;
  font-size: 40px;
}
section.skills .container .tool-info p {
  text-transform: capitalize;
  font-size: 17px;
  text-align: center;
}
/* end skills section */
/* start projects section */
section.projects {
  width: 100%;
}
section.projects .container {
  min-height: 100dvh;
  /* background-color: darkorchid;/ */
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: var(--section-padding);
}
section.projects .container .heading {
  color: var(--dark-main-color);
}

section.projects .container .row {
  width: 100%;
  /* background-color: brown; */
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
/* Mediam */
@media (max-width: 991px) {
  section.projects .container .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Small */
@media (max-width: 768px) {
  section.projects .container .row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
section.projects .container .row .project-card {
  min-width: 300px;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  background: rgba(207, 81, 81, 0.05);
  box-shadow: 0 6px 20px #00000040;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
section.projects .container .row .project-card .img-box {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.projects .container .row .project-card .img-box img {
  width: 100%;
  object-fit: cover;
  transition: var(--main-duration);
}
section.projects .container .row .project-card .content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
section.projects .container .row .project-card .content a {
  color: black;
  text-decoration: none;
}
section.projects .container .row .project-card .content a h3 {
  font-weight: 300;
}
section.projects .container .row .project-card .content p {
  font-size: 14px;
}

section.projects .container .row .project-card:hover a h3 {
  color: var(--main-color);
}
section.projects .container .row .project-card:hover img {
  transform: translateY(-5px) scale(1.2);
}
/* end projects section */
/* start Services */
.services {
  background: linear-gradient(var(--dark-main-color), var(--secondary-color));
  padding-bottom: var(--section-padding);
}
.services .container {
  min-height: 100dvh;
}
.services .container .sites-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (max-width: 991px) {
  .services .container .sites-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.services .container .site {
  /* width: 50%; */
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;

  backdrop-filter: blur(10px);
  background: rgba(207, 81, 81, 0.05);
  box-shadow: 0 6px 20px #00000040;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.services .container .site .img-box {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  /* background-color: red; */
}
.services .container .site .img-box img {
  max-width: 100%;
}
.services .container .site .text {
  width: 80%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  /* align-items: center; */
  gap: 20px;
  padding-left: 20px;
}
.services .container .site .text h1 {
}
.services .container .site .text p {
  text-transform: capitalize;
}
.services .container .site .text a,
.my-cv a {
  color: var(--section-background);
  text-decoration: none;
  text-align: center;
  padding: 5px 10px;
  border-radius: 20px;
  align-self: flex-end;
  cursor: pointer;
  transition: var(--main-duration);
  box-shadow: 0 6px 20px #00000040;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  background: #ffffff0d;
}
.services .container .site .text a:hover,
.my-cv a:hover {
  transform: scale(1.1);
}
.my-cv {
  width: 100%;
  height: 100%;
  /* background-color: #6e2828; */
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-cv a {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
/* end Services */

/* start contact section */
section.contact {
  width: 100%;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
section.contact .container {
  min-height: calc(100dvh - 150px);
  display: flex;
  justify-content: center;
  justify-content: center;
  gap: 50px;
}
section.contact .heading {
  color: var(--main-color);
}
section.contact .container .content {
  display: flex;
  flex-direction: column;
  gap: 50px;

  max-width: 50%;
  min-height: 500px;
}

section.contact .container .content .text {
  text-transform: capitalize;
  font-size: 20px;
}
section.contact .container .content .text h3 {
  font-size: 30px;
  margin-bottom: 30px;
}
section.contact .container .content .text p {
}

section.contact .container .content .contact-methods {
  text-align: start;
}
section.contact .container .content .contact-methods ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section.contact .container .content .contact-methods ul li {
  color: #05083b;
  display: flex;
  align-items: center;
  width: fit-content;
  max-width: 100%;
  margin-top: 20px;
}
section.contact .container .content .contact-methods ul li.social-icons {
  margin-top: 30px;
  display: flex;
}
section.contact .container .content .contact-methods ul li.social-icons i {
  font-size: 40px;
}
section.contact .container .content .contact-methods ul li i {
  margin-right: 10px;
  font-size: 30px;
}
section.contact .container .content .contact-methods ul li a {
  color: #05083b;
  font-size: 20px;
  text-decoration: none;
}
/* ----- */
section.contact .container .content-banner {
  background-color: #05083b;
  width: fit-content;
  max-width: 50%;
  height: fit-content;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
}
section.contact .container .content-banner::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  position: absolute;
  opacity: 0.2;
}
section.contact .container .content-banner img {
  max-width: 100%;
}
/* end contact section */

/* start footer */
footer {
  background-color: #040526;
  background: linear-gradient(#053b1c 30%, #040526);
}
footer .container {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  min-height: 150px;
  position: relative;
}
footer .container .top {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 10px;
}
footer .container .top a.logo {
  text-transform: uppercase;
  /* background-color: aqua; */

  font-family: "Caveat", cursive;
  text-decoration: none;
  font-size: 30px;
  font-weight: 900;
  color: var(--section-background);
}
footer .container .top nav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
footer .container .top nav a {
  text-decoration: none;
  color: var(--section-background);
}
footer .container .middle {
}
footer .container .middle .social-icons {
  margin: 10px 0;
}
footer .container .middle .social-icons a {
  color: var(--section-background);
  font-size: 30px;
}
footer .container .top nav a:hover,
footer .container .middle .social-icons a:hover {
  color: #f6f6f64e;
}
footer .container .copyright {
  width: 90%;
  max-width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  font-size: 12px;
  color: #f6f6f655;
  padding: 5px 0;
}

/* end footer */
